<br>
<br>
<div id="channelQ"></div>

<div id="theremote">
    <div>
        <button id="spin" title="Catch up" ng-click="$ctrl.synchronize();"></button>
        <button id="off"  title="Turn on the screen" ng-click="$ctrl.turnOn();"></button>
        <button id="seek"  title="Tell others where you're at" ng-click="$ctrl.emitTime();"></button>
    </div>

    <div id="extras">
        <button id="like" ng-click="$ctrl.like();"></button>
        <button id="dislike" ng-click="$ctrl.dislike();"></button>
    </div>
</div>