<div id="social">
	<button class="chatBtn" ng-click="public = true;queue = false; $ctrl.publicBtn();">
		Chat
	</button>
	<button class="chatBtn" ng-click="queue =true; public = false;$ctrl.friendBtn();">
		Playlist
	</button>

	<div id="chats" ng-init="public=true;" ng-show="public">
		<div id="msgBox">
			<div  ng-repeat="msg in $ctrl.messages">
				<button class="usernames" ng-click="$ctrl.requestFriend(msg.user);" ng-style="{color: msg.color}">{{msg.user}} : </button> <span class="textmsg">{{msg.text}}</span>
			</div>
		</div>
		<form class="msgSubmit" ng-submit="$ctrl.addMsg($ctrl.newMsg)">
			<textarea ng-model="$ctrl.newMsg" class="inputBox" placeholder="Enter to send..."></textarea>
			<input type="submit" class="submit" style="display: none" />
		</form>
	</div>

	<div ng-show="queue">
		<div>
			<form ng-submit="$ctrl.addVid()">
				<input type="submit" class="submit" style="display: none" />
				<input class="inputBoxURL" ng-model="$ctrl.src" type="text" placeholder="Paste video URL and Enter to add" required="" />
			</form>
		</div>

		<ul id="sortable" >
			<li ng-repeat="vid in $ctrl.queue">
				<div class="videoItem" id={{vid.idx}}>
					<img class="thumbnail" ng-src="{{vid.imgURL}}" ng-click="$ctrl.selectVid(vid.idx)" height="56" width="100">
					<span class="vidtitle">{{vid.title}}</span>
					<button class="deleteVid" ng-click="$ctrl.deleteVid(vid.idx)"></button>
				</div>
			</li>
		</ul>

	</div>



</div>
